<header>
    <div class="row header">
        <div class="col-3 d-flex gap-3 align-items-center" style="height: 100px">
                <mat-icon color="accent" class="logoIcon">store</mat-icon>
                <span class="logo">{{title}}</span>
        </div>
        <div class="col-9 d-flex gap-1 justify-content-end align-items-center" style="height: 100px">
                    <button type="button" mat-flat-button color="basic" routerLink="">Strona główna</button>
                    <button type="button" mat-flat-button color="basic" routerLink="/products">Produkty</button>
                    <span></span>
                    <button type="button" mat-flat-button color="basic" routerLink="/login">Zaloguj</button>
                    <a routerLink="/cart"><mat-icon color="accent" class="shoppingBasket">shopping_basket</mat-icon></a>
        </div>
    </div>
</header>