<h1>Produkty</h1>

<mat-card *ngFor="let product of page?.content" class="m-2">
    <div class="row">
        <div class="col-10">
            <mat-card-title><a routerLink="{{'/products/' + product.slug}}">{{product.name}}</a></mat-card-title>
            <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
        </div>
        <div class="col-2">
            <div class="productPrice">{{product.price}} {{product.currency}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a routerLink="{{'/products/' + product.slug}}">
                <img *ngIf="!product?.image" src="/assets/image-placeholder.png" mat-card-lg-image class="productImage">
                <img *ngIf="product?.image" src="{{'/api/data/productImage/' + product?.image}}" mat-card-lg-image class="productImage">
            </a>
        </div>    
        <div class="col-8">
            <mat-card-content class="productContent">{{product.desciption}}</mat-card-content>
        </div>
    </div>
    <div class="row">
        <mat-card-actions class="col-12 d-flex gap-2 justify-content-end align-items-center">
                <button mat-flat-button color="accent"><a routerLink="{{'/products/' + product.slug}}">Pokaz</a></button>
                <button mat-flat-button color="primary">Do koszyka</button>
        </mat-card-actions>
    </div>
</mat-card>

<mat-paginator *ngIf="page && page.totalElements > 0"
            [length]="page.totalElements"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]"
            aria-label="Wybierz stronę"
            (page)="onPageEvent($event)">
</mat-paginator>
