<footer>
    <div class="row footer justify-content-center" style="height: 150px">
                <div class="row">
                    <div class="col-4">
                        <div>Kategorie</div>
                        <ul>
                            <li>Kategoria 1</li>
                            <li>Kategoria 2</li>
                            <li>Kategoria 3</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div>O firmie</div>
                        <ul>
                            <li>O firmie 1</li>
                            <li>O firmie 2</li>
                            <li>O firmie 3</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div>Pomoc</div>
                        <ul>
                            <li>Pomoc 1</li>
                            <li>Pomoc 2</li>
                            <li>Pomoc 3</li>
                        </ul>
                    </div>
                </div>
            <div class="row justify-content-center">
                Copy &copy; Shop 2022 Wszystkie prawa zastrzeżone.
            </div>
    </div>
</footer>