@import '../../../variables.scss';

.header{
    background: $darkgray;
}

.logo {
    font-size: 30px;
    color: white;
}

.logoIcon, shoppingBasket {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #777;
}

.subMenuLink{
    color: gray;
}