<div class="container">
    <div *ngIf="!hash" class="col">
        <div class="row">
            <h2>Odzyskiwanie hasła</h2>
        </div>
        <form [formGroup]="formGroup" (submit)="send()" class="lostPasswordForm">
            <div *ngIf="formError" class="error">{{formError}}</div>
            <div class="row">
                <mat-form-field appearance="fill">  
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Podaj swój email">
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-flat-button color="primary">Prześlij</button>
            </div>
        </form>
    </div>
    <div *ngIf="hash" class="col">
        <form [formGroup]="formGroupChangePassword" (submit)="sendChangePassword()" class="lostPasswordForm">
            <div *ngIf="formChangePasswordError" class="error">{{formChangePasswordError}}</div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Hasło</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Podaj hasło">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Powtórz hasło</mat-label>
                    <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
                </mat-form-field>
            </div>
            <div class="row">
                <button mat-flat-button color="primary">Prześlij</button>
            </div>
        </form>
    </div>
</div>