<div class="container">
    <div class="row">
        <div class="col">
            <h2>Logowanie</h2>
            <form [formGroup]="loginForm" (submit)="login()" class="loginForm form-group">
                <div *ngIf="loginError" class="erro row">Podaj poprawne dane logowania</div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="username" placeholder="Podaj swój email">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Hasło</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </div>
                <div class="row">
                    <button mat-flat-button color="primary">Zaloguj</button>
                </div>
                <div class="row lostPassword">
                    <a routerLink="/lostPassword">Zapomniałeś hasła?</a>
                </div>
            </form>
        </div>
        <div class="col">
                <h2>Rejestracja</h2>
                <form [formGroup]="registerForm" (submit)="register()" class="registerForm form-group">
                    <div *ngIf="registerError" class="error row">{{registerErrorMessage}}</div>
                    <div class="row">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username" placeholder="Podaj swój email" class="form-control">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill">
                            <mat-label>Hasło</mat-label>
                            <input type="password" matInput formControlName="password" class="form-control">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill">
                            <mat-label>Powtórz hasło</mat-label>
                            <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło" class="form-control">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button mat-flat-button color="primary" class="form-control">Zarejestruj</button>
                    </div>
                </form>
        </div>
    </div>
</div>