:host {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.content {
    padding: 20px;
}

.loginForm{
    width: 350px;
    margin: 0 auto;
}

.lostPassword{
    margin-top: 12px;
    margin-left: 90px;
}