/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'variables.scss';

body,
html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidebar {
    background: $lightgray;
}

.snack-bar-bg-color-ok{
    background-color: #009900;
}